<button (click)="addSkill()">Add Skill</button>
<button (click)="prepend()">Prepend Skill</button>
<button (click)="replaceFirst()">Replace First</button>
<button (click)="clear()">Clear Skills</button>
<br>

Skills: {{ skills.value | json }}<br>
First: {{ first | json }}
<hr>

<div *ngFor="let skill of skills.controls; index as i">
  <ng-container [formGroup]="skill">
    <input formControlName="level" />
    <input formControlName="name" />
  </ng-container>
  <button (click)="removeSkill(i)">X</button>
</div>
